body { padding: 0; margin: 0; font-family: Raleway !important; } 

html, body, #map { height: 100vh; width: 100vw; }

#clueLayer.shown {
	position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    background-color: white;
    z-index: 9999;
    padding: 0 15px;
    border-radius: 11px;
}

#clueLayer.hidden {
	display: none;
}

.modalDialog {
	position: fixed;
	text-align: center;
	/*font-family: Arial, Helvetica, sans-serif;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog img {
    width: 60%;
	margin: 5px auto;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 80%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	/*background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);*/
}

.modalDialog p {
	text-align: left;
	margin-top: 0;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.goButton {
	padding: 10px;
    background-color: #F26B3F;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    display:block;
}