body { padding: 0; margin: 0; font-family: Raleway !important; } 

html, body, #map { height: 100vh; width: 100vw; }

.leaflet-tooltip {
	padding: 3px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 17px;
    font-size: 1.3em;
}

#topBar {
	background-color: transparent;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    right: 0;
}

#time-limit-image {
    margin: 30px auto;
    width: 100px;
}

#topBar #gameInfo {
	float: right;
}

#topBar #remaining-time {
	position: absolute;
    right: 22px;
    color: white;
    font-size: 0.9em;
    top: 18px;
}

#topBar #distance.notime {
	position: absolute;
    right: 5px;
    color: white;
    font-size: 0.75em;
    top: 25px;
}

#topBar #distance.time {
	position: absolute;
    right: 5px;
    color: white;
    font-size: 0.75em;
    top: 58px;
}

#topBar #clueLayer {
	position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    color: white;
    font-size: 0.7em;
    z-index: -1;
    background-color: rgb(43, 37, 72);

    max-height: 100px;
    min-height: 80px;
    background: rgb(43, 37, 72); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgb(43, 37, 72), rgba(43, 37, 72, 0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(43, 37, 72), rgba(43, 37, 72, 0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(43, 37, 72), rgba(43, 37, 72, 0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(right, rgb(43, 37, 72), rgba(43, 37, 72, 0.5)); /* Standard syntax (must be last) */
}

#topBar #clueLayer p {
	margin: 12px 110px 10px 35px;
}

#clueLayer.shown {
	position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    background-color: white;
    z-index: 9999;
    padding: 0 15px;
    border-radius: 11px;
}

.totalTimeSpent span, .totalPointsEarned span {
	font-size:1.2em;
}

.hidden {
	display: none;
}

.modalDialog {
	position: fixed;
	text-align: center;
	/*font-family: Arial, Helvetica, sans-serif;*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog.screen img {
    width: 60%;
	margin: 5px auto;
}

.modalDialog.screen .pointsWon {
	text-align: center;
}

.modalDialog.screen .pointsWon span {
	font-size: 1.2em;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog.screen > div {
	width: 80%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.modalDialog p {
	text-align: left;
	margin-top: 0;
}

.modalDialog input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.modalDialog input[type="file"] + label {
    cursor: pointer;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.goButton {
	padding: 10px;
    background-color: #F26B3F;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 10px;
    display:block;
}

#inventory {
	z-index: -1;
	background: #dadada;
	overflow-y: scroll;
	pointer-events: all;
}

#inventory-header {
	background: rgb(43, 37, 72); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, rgb(43, 37, 72), rgb(149, 185, 173)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgb(43, 37, 72), rgb(149, 185, 173)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgb(43, 37, 72), rgb(149, 185, 173)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, rgb(43, 37, 72), rgb(149, 185, 173)); /* Standard syntax (must be last) */
    width: 100%;
    height: 86px;
}

#inventory #inventory-header #inventory-title {
	text-align: center;
	font-size: 1.3em;
	color: white;
	padding-top: 28px;
	display: inline-block;
}

#inventory #inventory-header #return {
	font-size: 1.8em;
	background-color: #c25d31;
	text-decoration: none;
	padding: 4px 20px;
	border-radius: 7px;
	margin-left: 35px;
	margin-top: 20px;
	color: white;
	position: absolute;
	left: 13px;
}

#inventory #inventory-header #inventory-progress {
	position: fixed;
    top: 62px;
    font-size: 0.9em;
    color: white;
    right: 23px;
}

#topBar #gameInfo #main-progress.time {
	position: fixed;
    top: 125px;
    font-size: 0.9em;
    color: white;
    right: 25px;
}

#topBar #gameInfo #main-progress.notime {
	position: fixed;
    top: 90px;
    font-size: 0.9em;
    color: white;
    right: 20px;
}

#inventory #inventory-header-image {
	position: absolute;
	top: 0;
	right: 0;
}

#inventory #inventory-grid .row {
	min-height: 244px;
}

#inventory #inventory-grid .collectable {
	width: 50%;
	float: left;
}

#inventory #inventory-grid .collectable .collectable-image {
	height: 190px;
	margin: 10px 10px 0 10px;
}

#inventory #inventory-grid .collectable .collectable-name {
	background-color: #c25d31;
	color: white;
	margin: 0 10px 10px 10px;
}

#inventory #inventory-grid .collectable .collectable-name p {
	padding: 6px;
	font-size: 0.9em;
}

#inventory #inventory-grid .collectable .no-collectable-question-mark {
	background-color: #ededed;
	min-height: 219px;
	color: white;
	margin: 10px 10px 0 10px;
}

#inventory #inventory-grid .collectable .no-collectable-question-mark p {
	font-size: 9em;
	text-align: center; 
	padding-top: 25px;
	margin-bottom: 0;
}

.p25vh, .p30vh, .p50vh, .p67vh {
	overflow-y: scroll;
}

.p25vh {
	max-height: 25vh;
}
.p30vh {
	max-height: 30vh;
}
.p50vh {
	max-height: 50vh;
}
.p67vh {
	max-height: 67vh;
}






