body {
	font-family: 'Raleway', sans-serif;
}

.navbar {
	background-color: #2c353e;
	border-color: #080808;
	margin-bottom: 0;
	height: 80px;
	border-radius: 0;
}

.navbar-brand {
	padding: .5em 1.5em;
	height: 100%;
}

.navbar img {
	height: 100%;
}

.navbar-header {
	width: 100%;
}