#stop-editor-content {
	overflow: hidden;
}

.preview-screen {
	word-wrap: break-word;
	margin: 5px auto 0;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	height:512px;
	width: 288px;
}

.preview-screen .content {
	width: 229px;
    position: absolute;
    left:0px;
    right:0px;
    margin: 20px auto;
    padding: 5px 20px 13px 20px;
	z-index: 10;
	border-radius: 10px;
	background-color: white;
	text-align: center;
}

.preview-screen .background {
	z-index: 6;
	opacity: 0.2;
}

.preview-screen .background-front {
	z-index: 4;
	background-color: black;
}

.preview-screen .hover, 
.preview-screen .background-front, 
.preview-screen .background  {
	height: 510px;
	width: 286px;
	position: absolute;
	left:0px;
	right:0px;
    margin: 0px auto;
}

/******** FIELDS ********/
.preview-screen .content h4 {
	text-align: center;
	margin: 15px auto;
}

.preview-screen .content .preview-reward {
	text-align: center;
}

.preview-screen .content .preview-reward span {
	font-weight: 700;
	font-size: 1.1em;
}

.preview-screen .content .preview-img {
	max-width: 189px;
	margin-bottom: 10px;
	max-height: 190px;
}

.preview-screen .content .preview-text {
	font-size: 0.8em;
	text-align: left;
	height: 165px;
    overflow: scroll;
    max-height:170px;
}

.preview-screen a#editMinigames {
	position: absolute;
    bottom: 60;
    left: 152;
    text-align: center;
    color: white;
    background-color: #c25d31;
    padding: 10px;
    display: block;
    width: 110px;
    margin: 5px auto;
    text-decoration: none;
}

.preview-screen a#editMinigames:hover {
    color: white;
    text-decoration: none;
    background-color: #e87f62;
}

.preview-screen .content .preview-button {
	font-size: 0.8em;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
    background-color: #F26B3F;
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
    display: block;
}

#screens {
	margin: 10px 0 70px;
	//overflow:auto;
}

#screens h4 {
	text-align: center;
	padding-bottom: 10px;
}

.hover:hover .background, 
.hover:hover .background-front, 
.hover:hover .content {
	opacity: 0.2;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.edition-hover {
	z-index: 0;
	background-color: rgba(0,0,0,0.1);
	color: #111;
	text-align: center;
	height: 510px;
	width: 286px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	border-radius: 5px;
}

.edition-hover i {
	margin-top: 220px;
}

div.edit-screen {
	text-decoration: none;
	color: inherit;
}


/**********************
       	EDITOR
***********************/
.modal-dialog {
	width: 700px;
	/*height: 820px;*/
}

#stop-editor-form label, #challenge-form label {
	width: 100%;
    background-color: #2c353e;
    color: white;
    padding: 5px;
    margin-bottom: 0;
    font-weight: 300;
}

#stop-editor-form input, #stop-editor-form textarea,
#challenge-form input, #challenge-form select {
	border-radius: 0;
	resize: vertical;
}

#challenge-form select {
	width: 100%;
    background-color: white;
    height: 30px;
}

#challenge-form {
	padding: 15px 10px;
}

#qr-viewer .modal-dialog {
	width: 330px;
	margin-top:50px;
}

#fileSizeWarning .modal-dialog {
	width: 330px;
	margin-top:50px;
}
#fileSizeWarning .modal-content{
	padding: 10px;
	height: 180px;
}
.fileSizeWarning-close{
	float: none;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
}

#challenge-form input{
	width:266px;
}
