#stop-editor-preview {
	height:300px;
}

.preview-screen {
	word-wrap: break-word;
	margin: 5px auto 0;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	height:512px;
	width: 288px;
}

.preview-screen .content {
	width: 229px;
    position: absolute;
    left:0px;
    right:0px;
    margin: 20px auto;
    padding: 5px 20px 13px 20px;
	z-index: 10;
	border-radius: 10px;
	background-color: white;
}

.preview-screen .background {
	z-index: 6;
	opacity: 0.2;
}

.preview-screen .background-front {
	z-index: 4;
	background-color: black;
}

.preview-screen .hover, 
.preview-screen .background-front, 
.preview-screen .background  {
	height: 510px;
	width: 286px;
	position: absolute;
	left:0px;
	right:0px;
    margin: 0px auto;
}

/******** FIELDS ********/
.preview-screen .content h4 {
	text-align: center;
	margin: 15px auto;
}

.preview-screen .content .preview-reward {
	text-align: center;
}

.preview-screen .content .preview-reward span {
	font-weight: 700;
	font-size: 1.1em;
}

.preview-screen .content .preview-img {
	max-width: 189px;
}

.preview-screen .content .preview-text {
	font-size: 0.8em;
}

.preview-screen .content .preview-button {
	font-size: 0.8em;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
    background-color: #F26B3F;
    color: #fff;
    font-weight: 700;
    border-radius: 8px;
    display: block;
}

#stop-editor-content {
	column-count: 2;
}

#screens {
	margin: 30px 0;
	overflow:auto;
}

#screens h4 {
	text-align: center;
}

.hover:hover .background, 
.hover:hover .background-front, 
.hover:hover .content {
	opacity: 0.2;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

.edition-hover {
	z-index: 0;
	background-color: rgba(0,0,0,0.1);
	color: #111;
	text-align: center;
	height: 510px;
	width: 286px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	border-radius: 5px;
}

.edition-hover i {
	margin-top: 220px;
}

a.edit-screen {
	text-decoration: none;
	color: inherit;
}

footer {
	background-color: white;
	color: black;
	padding: 15px 50px;
}

footer .footerTitle {
	font-weight: 700;
}

footer .footerText {
	padding-left: 90px;
}

footer a#endEditing {
	text-align: center;
    color: white;
    background-color: #c25d31;
    padding: 10px;
    display: block;
    width: 110px;
    margin: 5px auto;
    text-decoration: none;
}

footer a#qrcode {
	text-align: center;
    color: white;
    background-color: #3b4f61;
    padding: 10px;
    display: block;
    width: 110px;
    margin: 5px auto;
    text-decoration: none;
}

